* {
    background-color: #222425;
    color: #cdc7c2;
    font-family: Helvetica;
}

.food-pic {
    height: auto;
    max-width: 500px;
}

h1 {
    font-size: 36pt;
    background-color: gold;
    color: #222425;
    padding: 5px;
    text-align: center;
}